@use "setting" as s;
@use "mixin" as m;

body {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  color: s.$white;
  background-color: s.$black;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  letter-spacing: .024em;
}

a {
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  &-container {
    position: relative;
    width: 72px;
    height: 72px;
    transform-style: preserve-3d;
    @include m.loading1;
  }
  &-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include m.loading2;
    border: 1px solid rgba(s.$gray, .3);
    box-shadow: 0 20px 40px rgba(s.$lightgray, .4);
    transform: rotateY(calc(90deg * var(--i))) translateZ(36px);
    &-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include m.loading2;
      border: 1px solid rgba(s.$gray, .3);
      transform: rotateX(90deg) translateZ(36px);
    }
  }
  p {
    position: absolute;
    color: s.$lightgray;
    font-size: 2.8rem;
    letter-spacing: 0;
    span {
      opacity: .2;
      @include m.loading3;
    }
  }
  &.loaded {
    opacity: 0;
    height: 0;
    visibility: hidden;
  }
}

.content {
  opacity: 0;
  transition: all 1s .1s;
  &.loaded {
    opacity: 1;
  }
}

.wrapper {
  min-height: 800px;
  background-color: s.$black;
}

// 強調英字
.eng {
  font-family: 'Crimson Pro', serif;
  letter-spacing: .06em;
  &2 {
    font-family: 'Readex Pro', sans-serif;
    letter-spacing: .04em;
  }
}

// span改行
span.s-br {
  display: block;
}