@use "base" as b;
@use "setting" as s;
@use "mixin" as m;

//header
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  min-height: s.$headerH;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: s.$black;
  box-shadow: (s.$ds-1);
  h1 {
    width: 160px;
    padding: 18px 0;
    position: relative;
    transition: all .2s;
    a {
      display: block;
    }
    img {
      width: 100%;
    }
    &:hover {
      opacity: .8;
    }
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 28px;
    height: 100%;
    a {
      display: block;
      color: s.$lightgray;
      @include m.hoverTransparentize(s.$lightgray, .7);
      &:not(:first-of-type) {
        margin-left: 20px;
      }
      i {
        font-size: 2.8rem;
      }
    }
  }
  @include m.bp-900 {
    min-height: s.$spHeaderH;
    h1 {
      width: 126px;
      padding: 12px 0;
    }
  }
} // header

// swiper

:root {
  --swiper-theme-color: #EF1D66;
}
.swiper {
  max-width: 920px;
  height: calc(100vh - (s.$headerH + 100px));
  padding-bottom: 32px;
  .swiper-slide {
    text-align: center;
    pointer-events: none;
    opacity: .44;
    transition: all .9s;
    cursor: pointer;
    &-prev,
    &-next {
      padding-top: 3%;
      padding-bottom: 3%;
    }
    &-active {
      pointer-events: auto;
      opacity: 1;
      box-shadow: s.$ds-3;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: opacity .3s;
    }
    &:hover {
      img {
        opacity: .7;
      }
    }
  }
  .swiper-pagination {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 6px;
    &-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid rgba(s.$lightgray, .6);
      opacity: .7;
      user-select: none;
      transition: all .3s;
      &-active {
        width: 12px;
        height: 12px;
        background-color: s.$white;
        box-shadow: 0 0 10px s.$white;
        opacity: 1;
        transform: translateY(1px);
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 56px;
    height: calc(32px - 6px);
    top: auto;
    bottom: 6px;
    user-select: none;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 6px;
      height: 1px;
      background-color: s.$lightgray;
      transition: all .2s;
    }
    &::before {
      width: 56px;
    }
    &::after {
      width: 18px;
    }
  }
  .swiper-button-prev {
    left: 1px;
    &::before,
    &::after {
      left: 0;
    }
    &::after {
      transform-origin: left;
      transform: rotate(-40deg);
    }
    &:hover {
      &::before,
      &::after {
        background-color: s.$white;
        box-shadow: 4px 4px 6px rgba(s.$white, .75);
      }
    }
  }
  .swiper-button-next {
    right: 1px;
    &::before,
    &::after {
      right: 0;
    }
    &::after {
      transform-origin: right;
      transform: rotate(40deg);
    }
    &:hover {
      &::before,
      &::after {
        background-color: s.$white;
        box-shadow: -4px 4px 6px rgba(s.$white, .75);
      }
    }
  }
  @include m.bp-900 {
    height: calc(100vh - (s.$spHeaderH + 80px));
  }
}

footer {
  min-height: calc(s.$headerH * 1.6);
  padding: 0 40px;
  background-color: s.$black;
  box-shadow: (s.$ds-2);
  position: relative;
  @include m.bp-1124 {
    min-height: calc(s.$spHeaderH * 1.6);
    padding: 0 20px;
  }
}