// box-shadow
$ds-1: 0 3px 7px rgba(20, 20, 20, .4);
$ds-2: 0 -3px 7px rgba(20, 20, 20, .4);
$ds-2-l: 5px 5px 8px rgba(0, 0, 0, 0.6);
$ds-2-r: -5px 5px 8px rgba(0, 0, 0, 0.6);
$ds-3: 8px 0 10px rgba(0, 0, 0, 1), -8px 0 10px rgba(0, 0, 0, .6);

// color
$black: #222222;
$white: #FFFFFF;
$lightgray: #e6e6e6;
$gray: #b3b3b3;
$ocher: #836606;
$greenG: linear-gradient(0deg, #0A5500, $white);
$pink: #EF1D66;
$yellow: #EFF556;

// ヘッダーのheight
$headerH: 85px;
$spHeaderH: 63px;
